[PlayerDB]
[PlayerDB/CustomFlags]
Flag1Enabled=0
Flag1Value=
Flag2Enabled=0
Flag2Value=
Flag3Enabled=0
Flag3Value=
Flag4Enabled=0
Flag4Value=
Flag5Enabled=0
Flag5Value=
[IGS]
Loginname=forrestxu
Password=xjl12345
Host=igs.joyjoy.net
Port=7777
Autoconnect=0
SkipGuests=1
ShowObsMsgBox=1
ChatSound=1
MatchSound=1
TimeSound=1
TimeThreshold=30
TimeThresholdByo=10
ShowAllFriends=0
PlayersUpdateFreq=60
GamesUpdateFreq=130
AutosaveOwn=0
AutosaveObserved=0
AllowCommands=0
ForceScroll=1
UseTabs=1
HtmlView=0
GamesRankRange=0
[IGS/Frames]
PlayersUpper=1d
PlayersLower=5k
TerminalSizeX=974
TerminalSizeY=1047
TerminalPosX=81
TerminalPosY=61
ShoutsSash=267
[IGS/Seek]
TimeIndex=0
BoardSize=0
Handicap=0
[IGS/Accounts]
forrestxu=xjl12345
guest=
[IGS/Match]
Size=19
MainTime=1
ByoTime=10
[IGS/Nmatch]
Size=19
TimeSystem=1
Panda_MainTime=60
Panda_ByoTime=600
Panda_ByoMoves=25
[Board]
Maximized=1
SizeX=1321
SizeY=746
SidebarWidth=227
[GTP]
White=1
Black=0
Size=19
Handicap=0
Level=5
